@use "../foundation" as *;

.p-index {
  &-mv {
    width: 100%;
    height: 100vh;

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 105px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      background: url('https://hirunotuki.github.io/i-vote_24/images/index_mv.svg') center bottom / cover;

      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        $gradient_color: lighten($c-accent, 30%);
        background: linear-gradient(177deg, rgba($gradient_color, 1) 9%, 30%,
            rgba($gradient_color, .1) 50%,
            rgba($gradient_color, 0) 100%);
        background: linear-gradient(177deg, lighten($c-accent, 30%) 9%, 40%, rgba(darken($c-accent, 60%), .15), rgba($c-main, .24) 90%);
        // backdrop-filter: blur(1.5px);
      }
    }

    &__scrolldown_line {
      position: relative;
      width: fit-content;
      height: 60%;

      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 100%;
        width: 3px;
        height: 100%;
        background: linear-gradient(rgba($c-base,0) 0%, 30%,$c-base 90%);

      }

    }
    &__scrolldown_text{
      height: 100%;
      width: fit-content;
      transform: rotate(180deg);
      writing-mode: sideways-lr;
      font: {
        size: 1.5rem;
        style: italic;
      }
      color:$c-base;
    }

    &__copy {
      position: relative;
      z-index: 1;

      // margin: {
      //   left: 144px;
      //   bottom: 105px;
      // }

      // padding-left: 45px;

      font: {
        family: $v-ff-default--latin, 'Zen Kaku Gothic New', $v-ff-default--jpn, sans-serif;
        // size: 5rem;
        size: clamp(4rem, 3.1rem + 2.25vw, 5.5rem);
        weight: 900;
        feature-settings: 'palt';
      }

      $line-height: 1.2;
      line-height: $line-height;
      letter-spacing: .03em;
      color: $c-base;
      text-shadow: 6px 3px 6px rgba(darken($c-accent, 60%), .3);

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: calc((1 - $line-height) * -1em);
        left: 0;
        width: 3px;
        height: calc(100% + ((1 - $line-height) * 1em));
        background: $c-base;
        box-shadow: 6px 3px 15px rgba(darken($c-accent, 60%), .75);
      }

      &::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        margin-bottom:calc((1 - #{$line-height}) * .5em);
      }
    }
  }


}