@use "../foundation" as *;

.p-members-members{
  &__members{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin: auto;
  }
}
.p-members-card {
  &__card {
    width: 300px;
    height: fit-content;
    background: $c-base;
    box-shadow: 2px 3px 6px rgba($c-main, .6);
  }

  &__img_box {
    width: 100%;
    height: 180px;
    background: $c-accent-pale;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__profile {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    font-size: .9rem;
  }

  &__role {
    font-weight: 900;
  }



  &__name_jpn {
    font: {
      size: 2em;
      weight: 900;
    }

    line-height: 1;
    letter-spacing: 0.2em;
  }

  &__name_roman {
    margin-top: 3px;

    font: {
      size: 1em;
      weight: 700;
    }

    line-height: 1;
    letter-spacing: 0.12em;
  }

  &__misc {
    width: 100%;
  }

  &__heading {
    font-weight: 900;
  }

  &__text {
    margin-top: 9px;
    $lh: 1.5;
    line-height: $lh;
    @include line-height-crop($lh)
  }
}